:root {
  --primary1-color:#EDF7FB;
  --primary2-color:#D0ECF9;
  --primary3-color:#B4E0F2;
  --primary4-color:#7DCFF2;
  --primary5-color:#3AB0E3;
  --primary6-color:#2993C1;
  --primary7-color:#0A719D;
  --secondary1--color:#F5F4F5;
  --secondary2--color:#E0DFE0;
  --secondary3--color:#DAD7DA;
  --secondary4--color:#BEBBBE;
  --secondary5--color:#AEABAE;
  --secondary6--color:#767476;
  --secondary7--color:#403C40;
  --secondary8--color:#302C30;
  --secondary9--color:#333133;
  --accent-red5-color:#D83237;
  --accent-red7-color:#c12026;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--secondary9--color);
}

select {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;

  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  min-width: 60px;
}

/* --------------------------------------------
　notice alert のトースト
--------------------------------------------- */
.toast {
  display: flex;
  align-items: center;
  gap: 8px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  opacity: 0;
  z-index: 9999;
  transition: opacity 0.5s ease, top 0.5s ease;
  user-select: none;
}

.toast.show {
  opacity: 1;
}

.toast__icon {
  width: 20px;
  height: 20px;
}

/* ---------------------------------------------------------
　モーダル
　　scheduler/_modal_projects.html.erb
　　manager/users/_modal_new_html/erb
----------------------------------------------------------- */

/* モーダル背景 */
.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.1);
  display: flex; align-items: center; justify-content: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  transform: none !important;
  will-change: auto !important;
}
.modal.open {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

/* モーダルの中身 */
.modal-content {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  width: 90%; max-width: 360px;
  height: 600px;
  padding: 60px 40px 30px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.15);
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
  transform: translate(-50%, -50%) translateY(20px) !important;
  opacity: 0;
  z-index: 1001 !important;
  margin: 0 !important;
}
/* 下からにゅっと現われる */
.modal.open .modal-content {
  transform: translate(-50%, -50%) translateY(0) !important;
  opacity: 1;
}
/* 閉じるボタン */
.modal-close {
  display: block;
  position: absolute;
  top: 40px; right: 40px;
}
.modal-close img {
  width: 15px;
}
