:root {
  --main--bg:#FBFBFC;
  --chip--bg:#0E0E0F;
  --text-color:#333133;
  --primary1-color:#EDF7FB;
  --primary2-color:#D0ECF9;
  --primary3-color:#B4E0F2;
  --primary4-color:#7DCFF2;
  --primary5-color:#3AB0E3;
  --primary6-color:#2993C1;
  --primary7-color:#0A719D;
  --secondary1--color:#F4F4F5;
  --secondary2--color:#E0DFE0;
  --secondary3--color:#DAD7DA;
  --secondary4--color:#BEBBBE;
  --secondary5--color:#AEABAE;
  --secondary6--color:#5B575B;
  --secondary7--color:#403C40;
  --secondary8--color:#302C30;
  --accent-red3-color:#F7E9E9;
  --accent-red5-color:#D83237;
  --accent-yg5-color:#5FCF36;
  --accent-y3-color:#F6EFD7;
  --accent-y5-color:#E3BA3A;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--text-color);
  user-select: none;
}

select {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;

  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  min-width: 60px;
}


/* ---------------------------------------------------------
　モーダル
　　scheduler/_modal_projects.html.erb
　　manager/users/_modal_new_html/erb
----------------------------------------------------------- */

/* モーダル背景 */
.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.1);
  display: flex; align-items: center; justify-content: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  transform: none !important;
  will-change: auto !important;
}
.modal.open {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

/* モーダルの中身 */
.modal-content {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  width: 90%; max-width: 360px;
  height: 600px;
  padding: 60px 40px 30px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.15);
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
  transform: translate(-50%, -50%) translateY(20px) !important;
  opacity: 0;
  z-index: 1001 !important;
  margin: 0 !important;
}
/* 下からにゅっと現われる */
.modal.open .modal-content {
  transform: translate(-50%, -50%) translateY(0) !important;
  opacity: 1;
}
/* 閉じるボタン */
.modal-close {
  display: block;
  position: absolute;
  top: 40px; right: 40px;
}
.modal-close img {
  width: 15px;
}


/* ------------------------------------------
button
-------------------------------------------- */

.btn--primary {
  display: inline-flex;
  align-items: center;
  min-width: 140px;
  padding: 12px 24px;
  border-radius: 6px;
  background-color: var(--primary5-color);
  box-shadow:0 1px 3px rgba(0,0,0,0.1);
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.btn--primary:hover {
  background-color: #65d1fc;
  transform: scale(1.05);
}

.btn--secondary {
  display: inline-flex;
  padding: 8px 12px;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn--secondary:hover {
  transform: scale(1.05);
}


/* ------------------------------------------
スクロールバーの色を薄く
-------------------------------------------- */

/* Chrome/Safari など WebKit 系 */
.confirmed-shifts__table-wrapper::-webkit-scrollbar {
  height: 10px;
}

.confirmed-shifts__table-wrapper::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.03);
}

.confirmed-shifts__table-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

/* Firefox */
.confirmed-shifts__table-wrapper {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.08) rgba(0,0,0,0.03);   /* thumb と track */
}
