/* .project-new {} */

.project-new__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.project-new__csv-icon {
  width: 20px;
  margin-right: 8px;
}
/* --------------------------------------  */
.project-new__card {
  margin: 0 auto;
  padding: 100px 180px 80px;
  min-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.10);
}

.project-new__field {
  display: flex;
  align-items: center;
  gap: 16px;
}

.project-new__form-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-new__label {
  width: 100px;
  color: #333333;
}

.project-new__input,
.project-new__select {
  padding: 8px 12px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.project-new__time-range {
  display: flex;
  align-items: center;
}

.project-new__time-input {
  width: 120px;
  cursor: pointer;
}

.project-new__tilde {
  margin: 0 8px;
  color: #666666;
}

.project-new__actions {
  text-align: center;
  margin-top: 60px;
}
