<p><%= @resource.email %> さん、こんにちは。</p>

<p>どなたかが、あなたのパスワード変更用リンクをリクエストしました。</p>
<p>以下のリンクからパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>この操作に心当たりがない場合は、このメールは無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを設定するまで、現在のパスワードは変更されません。</p>
